Source: winmin-viewer
Maintainer: Victor Fuentes <hyruleterminatriforce@gmail.com>

Package: winmin-viewer
Version: 0.1-1
Section: base
Priority: optional
Architecture: any
Depends:  libc6 (>= 2.17), libgtk-3-0 (>= 3.10), libglib2.0-0 (>= 2.38), spice-client-gtk (>= 0.32) 
Maintainer: Victor Fuentes <hyruleterminatriforce@gmail.com>
Description: A minimal SPICE client built for Winmin

